<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Todo-List{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
    {% for message in app.flashes('success') %}
        <div class="p-4 mb-4 text-green-800 bg-green-100 rounded">
            {{ message }}
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
    </body>
</html>
